body {
    font-family: $default-font, sans-serif;
    color: $mainColor;
    font-weight: $mainWeight;
    font-size: $mainSize;
    padding-top: $heightHeader;
    background-color: var(--site-color);

    @media (max-width: 900px) {
        padding-top: 80px;
    }
    @media (max-width: 500px) {
        padding-top: 50px;
    }
    a,
    button {
        color: $mainColor;
        font-weight: $mainWeight;
        font-size: $mainSize;
        transition: 0.3s;
        background-color: transparent;
    }
    img {
        max-width: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.block {
    overflow: hidden;
}
.header {
    position: fixed;
    width: 100%;
    top: 0;
}
main {
    min-height: $minHeightMain;
}

.container {
    max-width: calc(#{$content-width} + 120px);
    width: 100%;
    margin: 0 auto;
    padding: 0 60px;
    @media (max-width: 1279px) {
        padding: 0 40px;
    }
    @media (max-width: 500px) {
        padding: 0 20px;
    }
}
.filters {
    display: flex;
    align-items: center;
    @media (max-width: 1279px) {
        padding-right: 40px;
    }
    @media (max-width: 900px) {
        flex-wrap: wrap;
    }
    @media (max-width: 500px) {
        padding-right: 20px;
    }
    &--big {
        flex-wrap: wrap;
        margin: -10px;
        @media (max-width: 1279px) {
            padding-right: 0;
        }
        @media (max-width: 500px) {
            padding-right: 0;
        }
        .filters__search {
            max-width: 100%;
            margin-right: 10px;
            margin-left: 10px;
            margin-bottom: 20px;
            margin-top: 10px;
        }
        .filters__switch {
            // margin-right: 20px;
            margin: 10px;
            flex: 0 0 305px;
            @media (max-width: 500px) {
                flex: 0 1 100%;
            }
        }
    }
    &__toggle {
        flex-grow: 1;
        display: flex;
        // text-align: right;
        justify-content: flex-end;
        align-items: center;
        margin: 10px;
        @media (max-width: 1400px) {
            flex: 0 1 auto;
            padding-left: 20px;
            // margin-top: 42px;
            // justify-content: flex-start;
        }
        @media (max-width: 500px) {
            padding-left: 0px;
        }
        &-text {
            flex: 0 0 auto;
            opacity: 0.5;
        }
        .filters__switch {
            flex: 0 1 130px;
            margin-right: 0;
        }
    }
    &__search {
        margin-right: 50px;
        position: relative;
        width: 100%;
        max-width: 955px;
        @media (max-width: 900px) {
            margin-right: 0;
            margin-bottom: 20px;
        }
        &-loupe {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(0, -50%);
        }
        &-input {
            height: 60px;
            display: block;
            line-height: 60px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            width: 100%;
            background-color: transparent;
            line-height: 24px;
            color: #fff;
            font-size: 16px;
            padding: 0 10px 0 40px;
            &::placeholder {
                opacity: 0.5;
                font-size: 16px;
            }
        }
    }
    &__switch {
        flex: 0 0 274px;
        cursor: pointer;
        position: relative;
        @media (max-width: 500px) {
            flex: 0 1 100%;
        }
        &--active {
            .filters__switch-text {
                &::after {
                    transform: rotate(180deg);
                }
            }
        }
        &-text {
            font-size: 16px;
            line-height: 22px;
            display: flex;
            align-items: center;
            min-height: 60px;
            border: 1px solid #dedee0;
            background-color: var(--site-color);
            border-radius: 8px;
            padding: 0 35px 0 21px;
            position: relative;
            &::after {
                content: url(../images/arrow-down-white.svg);
                position: absolute;
                right: 21px;
                transition: 0.3s;
            }
            &--micro {
                font-size: 14px;
                font-weight: 500;
                line-height: 14px;
                min-height: 14px;
                border: none;
                padding: 0 23px 0 8px;
                &::after {
                    right: 5px;
                }
            }
        }
        &-modal {
            z-index: 5;
            border-radius: 8px;
            background: rgba(37, 37, 38, 0.6);
            backdrop-filter: blur(150px);
            top: calc(100% + 10px);
            width: 100%;
            position: absolute;
            display: none;
            @media (max-width: 700px) {
                width: 100%;
            }
            &-label {
                padding: 16px 20px;
                font-size: 16px;
                display: block;
                line-height: 22px;
                transition: 0.3s;
                cursor: pointer;
                &:hover {
                    background-color: var(--bg-color);
                    opacity: 0.5;
                }
            }
        }
    }
    &-input {
        position: absolute;
        pointer-events: none;
        opacity: 0;
        left: 0;
    }
}
.title {
    font-size: 40px;
    font-weight: 700;
    @media (max-width: 900px) {
        font-size: 28px;
    }
    @media (max-width: 500px) {
        font-size: 25px;
    }
    &--amount {
        position: relative;
        display: inline-block;
        &::after {
            content: attr(data-amount);
            position: absolute;
            left: calc(100% + 10px);
            opacity: 0.5;
            font-size: 20px;
            font-weight: 500;
        }
    }
    &--link {
        position: relative;
        padding-right: 52px;
        @media (max-width: 900px) {
            padding-right: 35px;
        }
        &:hover {
            &::after {
                animation: 250ms linear 0s forwards alternate swing;
            }
        }
        &::after {
            content: url(../images/arrow-right-white.svg);
            position: absolute;
            right: 0;
            @media (max-width: 900px) {
                content: url(../images/arrow-right-white-midle.svg);
            }
        }
    }
}
.crumbs {
    margin: 15px 0 -5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @media (max-width: 900px) {
        flex-wrap: nowrap;
        overflow: auto;
    }
    &__container {
        @media (max-width: 900px) {
            padding-right: 0;
        }
        @media (max-width: 500px) {
            padding-right: 0;
        }
    }
    &__crumb {
        margin: 5px 10px 5px 0;
        height: 40px;
        line-height: 40px;
        display: block;
        padding: 0 20px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 50px;
        font-size: 16px;
        cursor: pointer;
        transition: 0.3s;
        @media (max-width: 900px) {
            flex: 0 0 auto;
        }
        &:hover {
            opacity: 0.8;
        }
        &--active {
            background-color: #fff;
            color: #000;
            &:hover {
                opacity: 1;
            }
        }
    }
    &__clear {
        background-color: rgba(37, 37, 38, 0.6);
        border-radius: 50%;
        width: 34px;
        height: 34px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        pointer-events: none;
        flex: 0 0 34px;
        cursor: pointer;
        &--active {
            opacity: 1;
            pointer-events: auto;
        }
    }
}
.informatio-card {
    flex: 0 0 305px;
    @media (max-width: 1400px) {
        flex: 0 0 275px;
    }
    @media (max-width: 900px) {
        flex: 0 0 200px;
    }
    @media (max-width: 500px) {
        flex: 0 0 260px;
    }
    &:hover {
        .informatio-card__picture-play {
            opacity: 1;
        }
    }
    &__picture {
        height: 200px;
        position: relative;
        display: block;
        @media (max-width: 900px) {
            height: 130px;
        }
        @media (max-width: 500px) {
            height: 160px;
        }
        &-img {
            height: 200px;
            border-radius: 10px;
            @media (max-width: 900px) {
                height: 130px;
            }
            @media (max-width: 500px) {
                height: 160px;
            }
        }
        &-icon {
            position: absolute;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background-color: #fff;
            right: 10px;
            top: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            @media (max-width: 900px) {
                width: 30px;
                height: 30px;
            }
            &-inner {
                position: relative;
                &::before {
                    content: attr(data-tooltip);
                    bottom: 100%;
                    position: absolute;
                    right: -10px;
                    font-size: 16px;
                    line-height: 20px;
                    // min-height: 30px;
                    // height: 30px;
                    display: block;
                    padding: 5px 10px;
                    background-color: #fff;
                    color: #000;
                    border-radius: 5px;
                    transition: 0.3s;
                    opacity: 0;
                    min-width: 286px;
                    text-align: center;
                    pointer-events: none;
                }
            }
            &:hover {
                .informatio-card__picture-icon-inner::before {
                    opacity: 1;
                    pointer-events: auto;
                }
            }
        }

        &-information {
            border-radius: 40px;
            background-color: var(--ui-color-violet);
            height: 30px;
            line-height: 30px;
            display: inline-block;
            padding: 0 10px;
            bottom: 14px;
            left: 10px;
            position: absolute;
            @media (max-width: 900px) {
                height: 24px;
                line-height: 24px;
                padding: 0 8px;
                font-size: 12px;
                bottom: 10px;
                left: 5px;
            }
            &--ping {
                background-color: var(--ui-color-ping);
            }
            &--sky {
                background-color: #3d6af2;
            }
            &--yellow {
                background-color: #ffd47f;
            }
        }
        &-play {
            position: absolute;
            height: 60px;
            width: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: #fff;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: 0.3s;
            opacity: 0;
        }
    }
}
.title-card {
    font-size: 22px;
    font-weight: 600;
    margin: 15px 0 5px;
    line-height: 30px;
    @media (max-width: 900px) {
        font-size: 18px;
        line-height: 22px;
    }
    @media (max-width: 500px) {
        font-size: 16px;
        line-height: 22px;
    }
}
.text-card {
    line-height: 20px;
    color: rgba(255, 255, 255, 0.5);
}
.delete {
    display: none !important;
}
.stories {
    flex: 0 0 110px;
    cursor: pointer;
    @media (max-width: 500px) {
        flex: 0 0 90px;
    }
    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 110px;
        @media (max-width: 500px) {
            height: 90px;
        }
        &--active {
            background: conic-gradient(
                from 180deg at 50% 50%,
                #a200ff 0deg,
                #f230b2 86.25deg,
                #ff3355 187.5deg,
                #f8ff00 279.38deg,
                #a200ff 360deg
            );
        }

        border-radius: 50%;
    }
    &__img {
        width: 108px;
        height: 108px;
        border-radius: 50%;
        border: 5px solid var(--site-color);
        @media (max-width: 500px) {
            width: 88px;
            height: 88px;
        }
    }
    &__text {
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        margin-top: 15px;
        line-height: 20px;
        @media (max-width: 500px) {
            font-size: 13px;
            line-height: 16px;
            margin-top: 10px;
        }
    }
}
.book {
    flex: 0 0 197px;
    border-radius: 5px;
    @media (max-width: 900px) {
        flex: 0 0 140px;
    }
    &__slider {
        .poster-slider__dark {
            right: -164px !important;
        }
    }
    &__picture {
        position: relative;
        background-color: #ffd43d;
        height: 280px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        @media (max-width: 900px) {
            height: 200px;
        }
        &--blue {
            background-color: #3dfff3;
        }
        &--green {
            background-color: #0bc979;
        }
        &--violet {
            background-color: #4d0cd7;
        }

        &-img {
            position: absolute;
            z-index: 1;
            border-radius: 5px;
        }
        &-info {
            background-image: url(../images/book-main.png);
            background-size: 130px 170px;
            background-repeat: no-repeat;
            height: 170px;
            width: 130px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 5;
            padding: 0 7px;
            @media (max-width: 900px) {
                height: 121px;
                width: 93px;
                background-size: 93px 121px;
            }
        }
        &-avatar {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            @media (max-width: 900px) {
                width: 24px;
                height: 24px;
            }
        }
        &-name {
            color: #000000;
            font-size: 10px;
            font-weight: 500;
            line-height: 14px;
            text-align: center;
            margin-top: 10px;
            @media (max-width: 900px) {
                margin-top: 7px;
                font-size: 7.15053px;
                line-height: 10px;
            }
        }
        &-author {
            color: #000000;
            font-size: 7px;
            line-height: 12px;
            text-align: center;
            margin-bottom: 10px;
            @media (max-width: 900px) {
                margin-bottom: 7px;
                font-size: 5.00537px;
                line-height: 9px;
            }
        }
    }
    &__name {
        font-size: 18px;
        font-weight: 600;
        line-height: 25px;
        margin: 15px 0 5px;
    }
    &__text {
        opacity: 0.7;
        line-height: 20px;
        color: rgba(255, 255, 255, 0.5);
    }
}
.gallery {
    display: flex;
    max-width: 305px;
    height: 200px;
    @media (max-width: 900px) {
        max-width: 200px;
        height: 130px;
    }
    @media (max-width: 500px) {
        max-width: 260px;
        height: 160px;
    }
    &__main {
        height: 200px;
        max-width: 151px;
        margin-right: 4px;
        border-radius: 10px 0 0 10px;
        @media (max-width: 900px) {
            max-width: 98px;
            height: 130px;
            margin-right: 2.6px;
        }
        @media (max-width: 500px) {
            max-width: 129px;
            height: 160px;
            margin-right: 2px;
        }
    }
    &__slider {
        .poster-slider__shadow {
            right: 51px !important;
        }
        .informatio-card {
            flex: 0 0 305px;
            @media (max-width: 900px) {
                flex: 0 0 200px;
            }
            @media (max-width: 900px) {
                flex: 0 0 260px;
            }
        }
    }
    &__img {
        max-width: 150px;
        height: 98px;
        border-radius: 0 10px 0 0;
        @media (max-width: 900px) {
            max-width: 99px;
            height: 64px;
        }
        @media (max-width: 500px) {
            max-width: 129px;
            height: 79px;
        }
    }
    &__more {
        margin-top: 4px;
        position: relative;
        @media (max-width: 900px) {
            margin-top: 2.6px;
        }
        @media (max-width: 500px) {
            margin-top: 2px;
        }
        &-placeholder {
            position: absolute;
            width: 150px;
            height: 98px;
            background: rgba(12, 12, 13, 0.6);
            backdrop-filter: blur(15px);
            border-radius: 0 0 10px 0;
            @media (max-width: 900px) {
                width: 99px;
                height: 64px;
            }
            @media (max-width: 500px) {
                width: 129px;
                height: 78.5px;
            }
        }
        &-img {
            max-width: 150px;
            height: 98px;
            border-radius: 0 0 10px 0;
            @media (max-width: 900px) {
                max-width: 99px;
                height: 64px;
            }
            @media (max-width: 500px) {
                max-width: 129px;
                height: 78.5px;
            }
        }
        &-number {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 20px;
            font-weight: 600;
            @media (max-width: 900px) {
                font-size: 13.0193px;
            }
        }
    }
}
.modal-overlay {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(30px);
    opacity: 0;
    visibility: hidden;
    backface-visibility: hidden;
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1),
        visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    overflow: auto;
    padding: 20px 50px;
    @media (max-width: 700px) {
        padding: 50px 20px 20px;
    }
    &--active {
        opacity: 1;
        visibility: visible;
    }
}
.trophy {
    position: absolute;
    right: 0;
    bottom: 3px;
}
.ui {
    &__buttons {
        display: flex;
        align-items: center;
        @media (max-width: 700px) {
            margin-top: 40px;
        }
    }
    &__like {
        display: block;
        line-height: 44px;
        height: 44px;
        background: #ffffff;
        border-radius: 50px;
        padding: 0 63.5px 0 93.5px;
        font-size: 16px;
        color: #000000;
        position: relative;
        margin-right: 15px;
        @media (max-width: 900px) {
            padding: 0 55px 0 84px;
        }
        &::after {
            content: url(../images/like.svg);
            position: absolute;
            left: 60px;
            top: 5px;
        }
        &:hover {
            background-color: var(--ui-color-yellow);
        }
        &--active {
            padding: 0 33px 0 62px;
            @media (max-width: 900px) {
                padding: 0 30px 0 56px;
            }
            &::after {
                content: url(../images/like-active.svg);
                left: 24px;
            }
        }
    }
    &__share {
        width: 44px;
        height: 44px;
        border: 1px solid #ffffff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        svg path {
            transition: 0.3s;
        }
        &:hover {
            background-color: #fff;
            svg path {
                fill: #000;
            }
        }
    }
    &__text {
        margin-top: 13px;
        color: #808081;
        line-height: 20px;
        margin-left: 28px;
        @media (max-width: 900px) {
            margin-left: 14px;
        }
    }
    &__span {
        font-weight: 500;
        color: #ffffff;
        margin-left: 5px;
    }
}
.modal {
    display: none;
    justify-content: center;
    position: relative;
    margin: auto auto;
    width: 958px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    backface-visibility: hidden;
    transform: scale(1.2);
    transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    @media (max-width: 1279px) {
        width: 688px;
    }
    @media (max-width: 900px) {
        padding-top: 40px;
        padding-bottom: 90px;
    }
    @media (max-width: 700px) {
        width: 335px;
    }
    @media (max-width: 340px) {
        width: 300px;
        // height: 175px;
    }
    &__slide {
        width: 958px;
        @media (max-width: 1279px) {
            width: 688px;
        }
        @media (max-width: 700px) {
            width: 335px;
        }
        @media (max-width: 340px) {
            width: 300px;
            // height: 175px;
        }
        &-img,
        &-video {
            width: 958px;
            height: 676px;
            border-radius: 10px;
            @media (max-width: 1279px) {
                width: 688px;
                height: 485px;
            }
            @media (max-width: 700px) {
                width: 335px;
                height: 237px;
            }
            @media (max-width: 340px) {
                width: 300px;
                height: 175px;
            }
        }
        &-footer {
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            @media (max-width: 700px) {
                flex-wrap: wrap;
            }
        }
        &-title {
            font-weight: bold;
            font-size: 40px;
            line-height: 50px;
            @media (max-width: 900px) {
                font-size: 28px;
                line-height: 32px;
            }
            @media (max-width: 700px) {
                font-size: 25px;
                line-height: 30px;
            }
        }
        &-tag {
            padding: 0 8px;
            background: rgba(49, 50, 51, 0.6);
            backdrop-filter: blur(20px);
            border-radius: 5px;
            display: inline-block;
            // height: 28px;
            line-height: 28px;
            margin-top: 15px;
        }
        &-profile {
            margin-top: 40px;
            display: flex;
            align-items: center;
            @media (max-width: 900px) {
                margin-top: 30px;
            }
            &-avatar {
                width: 60px;
                height: 60px;
                border-radius: 50%;
            }
            &-info {
                margin-left: 20px;
            }
            &-name {
                font-weight: 600;
                font-size: 18px;
                line-height: 25px;
                margin-bottom: 5px;
            }
            &-place {
                line-height: 20px;
                opacity: 0.7;
            }
        }
    }
    &__concept {
        border-radius: 20px;
    }
    &--active {
        visibility: visible;
        opacity: 1;
        transform: scale(1);
        display: flex;
        .modal__content {
            opacity: 1;
        }
        .modal__close {
            transform: translateY(10px);
            opacity: 1;
        }
    }
    &__close {
        position: absolute;
        cursor: pointer;
        top: -10px;
        right: -40px;
        opacity: 0;
        backface-visibility: hidden;
        transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1),
            transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
        transition-delay: 0.3s;
        @media (max-width: 900px) {
            right: 7px;
        }
    }
    &__content {
        opacity: 0;
        backface-visibility: hidden;
        transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
        transition-delay: 0.3s;
        &-picture {
            background-color: transparent;
        }
        &-img {
            border-radius: 20px 20px 0 0;
            background-color: transparent;
        }
    }
}
.poster-slider {
    margin-top: 80px;
    position: relative;
    @media (max-width: 900px) {
        margin-top: 40px;
    }
    &__slider,
    &__stories {
        padding-top: 40px;
        padding-right: 60px;
        margin-right: calc(100vw - 1400px - (100vw - 1400px) / 2 + 60px);
        padding-left: calc(100vw - 1400px - (100vw - 1400px) / 2 + 60px);
        @media (max-width: 1400px) {
            padding-left: 60px;
            margin-right: 60px;
            padding-right: 20px;
        }
        @media (max-width: 1279px) {
            padding-left: 40px;
            margin-right: 40px;
        }
        @media (max-width: 900px) {
            margin-right: 0;
        }
        @media (max-width: 500px) {
            padding-left: 20px;
        }
    }
    &__shadow,
    &__dark {
        position: absolute;
        pointer-events: none;
        bottom: 0;
        z-index: 2;
        height: 100%;
        width: auto;
        // transition: 0.3s;
        @media (max-width: 900px) {
            display: none;
        }
    }
    &__shadow {
        right: 60px;
        &--hidden {
            opacity: 0;
        }
        &--right {
            right: 51px;
        }
    }
    &__dark {
        right: -99px;
        transition: 0s;
        &--hidden {
            opacity: 0;
        }
    }
    &__arrow {
        top: 100px;
        position: absolute;
        z-index: 100;
        height: 60px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        @media (max-width: 900px) {
            display: none;
        }
        &-right {
            right: 0;
            border: 1px solid #555556;
            border-radius: 50%;
            &:hover {
                border: 1px solid #fff;
            }
        }
        &-left {
            left: calc(100vw - 1400px - (100vw - 1400px) / 2 - 40px);
            @media (max-width: 1400px) {
                left: 0;
            }
        }
    }
    .swiper-slide {
        transition: 0.3s;
    }
    .swiper-slide-prev-prev,
    .swiper-slide-prev {
        opacity: 0.3;
    }

    &__stories {
        .poster-slider__arrow {
            top: 65px;
        }
        .poster-slider__dark {
            right: -28px;
        }
    }
}
.stories-arrow {
    top: 308px;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 900px) {
        // display: none;
        top: auto;
        bottom: 10px;
    }
    &-left {
        left: -120px;
        @media (max-width: 1279px) {
            left: -80px;
        }
        @media (max-width: 900px) {
            left: calc(50% - 45px);
            transform: translate(-50%, 0);
        }
    }
    &-right {
        right: -120px;
        @media (max-width: 1279px) {
            right: -80px;
        }
        @media (max-width: 900px) {
            right: calc(50% - 45px);
            transform: translate(50%, 0);
        }
    }
}
.stories-left {
    left: -120px;
}
.stories-right {
    right: -120px;
}
.swiper-button-disabled {
    opacity: 0;
    pointer-events: none;
}
.navigation {
    margin: 40px 0 30px;
    @media (max-width: 900px) {
        margin: 30px 0;
    }
    &__container {
        display: flex;
    }
    &__element {
        font-size: 15px;
        color: #858585;
        padding-right: 21px;
        margin-right: 5px;
        position: relative;
        &::after {
            content: url(../images/arrow-right-dark.svg);
            position: absolute;
            right: 0;
            opacity: 0.7;
            top: 50%;
            transform: translate(0, -50%);
        }
        &:hover {
            color: #fff;
        }
        &--last {
            color: #fff;
            &::after {
                display: none;
            }
        }
    }
}
