.news {
    .content {
        &__news {
            margin-top: 50px;
            max-width: 630px;
            margin-left: auto;
            margin-right: auto;
            border-bottom: 1px solid #303031;
            @media (max-width: 900px) {
                margin-top: 35px;
                max-width: 100%;
            }
            &--first {
                margin-top: 30px;
                @media (max-width: 900px) {
                    margin-top: 50px;
                }
                @media (max-width: 500px) {
                    margin-top: 30px;
                }
            }
            &-date {
                font-size: 15px;
                line-height: 20px;
                text-transform: uppercase;
                @media (max-width: 900px) {
                    font-size: 12px;
                    line-height: 20px;
                }
            }
            &-title {
                font-weight: 600;
                font-size: 22px;
                line-height: 30px;
                font-feature-settings: "pnum" on, "lnum" on;
                margin: 10px 0 20px;
                max-width: 630px;
                @media (max-width: 900px) {
                    margin: 5px 0 20px;
                    font-size: 18px;
                    line-height: 22px;
                }
            }
            &-text {
                font-size: 16px;
                line-height: 25px;
                font-feature-settings: "pnum" on, "lnum" on;
                max-width: 630px;
                height: 75px;
                overflow: hidden;
                // transition: 0.6s;
                @media (max-width: 900px) {
                    line-height: 24px;
                }
                @media (max-width: 500px) {
                    height: 144px;
                }
                &::after {
                    display: none;
                }
            }
            &-img {
                max-width: 630px;
                height: 373px;
                margin-bottom: 20px;
                border-radius: 6px;
                @media (max-width: 500px) {
                    height: 200px;
                }
            }
            &-footer {
                margin-top: 20px;
                margin-bottom: 50px;
                width: 100%;
                position: relative;
                text-align: left;
                font-weight: 500;
                font-size: 14px;
                color: #b6b6b6;
                @media (max-width: 900px) {
                    margin-top: 35px;
                    padding-bottom: 45px;
                    font-weight: 400;
                }
                @media (max-width: 500px) {
                    margin-top: 30px;
                    padding-bottom: 40px;
                    font-weight: 600;
                }
                &::after {
                    content: url(../images/more.svg);
                    position: absolute;
                    right: 0;
                }
            }
        }
    }
}
