.participant {
    .user {
        background-image: url(../images/user-bg.jpg);
        background-repeat: no-repeat;
        background-size: 100% 260px;
        padding-top: 100px;
        @media (max-width: 900px) {
            padding-top: 50px;
        }
        @media (max-width: 700px) {
            .user__about,
            .user__grid,
            .user__about-text,
            .user__button {
                display: none;
            }
        }
        @media (max-width: 500px) {
            padding-top: 20px;
        }
        &__container {
            @media (max-width: 500px) {
                padding: 0;
            }
        }
        &__wrapper {
            background: rgba(37, 37, 38, 0.6);
            backdrop-filter: blur(150px);
            border-radius: 20px;
            max-width: 1280px;
            padding: 40px 40px 70px 40px;
            @media (max-width: 900px) {
                padding: 40px 40px 60px 40px;
            }
            @media (max-width: 500px) {
                padding: 33px 20px 50px;
            }
        }
        &__header {
            display: flex;
            justify-content: space-between;
            @media (max-width: 900px) {
                flex-wrap: wrap;
            }
            &-buttons {
                @media (max-width: 700px) {
                    margin-top: 0;
                }
            }
            &-avatar {
                flex: 0 0 140px;
                height: 140px;
                position: relative;
                margin-right: 37px;
                @media (max-width: 900px) {
                    flex: 0 0 100px;
                    height: 100px;
                    margin-bottom: 30px;
                    margin-right: 25px;
                }
                @media (max-width: 500px) {
                    margin-bottom: 0;
                }
                &-img {
                    border-radius: 50%;
                    height: 140px;
                    @media (max-width: 900px) {
                        height: 100px;
                    }
                }
            }
            &-inner {
                margin-top: 20px;
                flex-grow: 1;
                @media (max-width: 900px) {
                    margin-top: 0;
                }
                @media (max-width: 500px) {
                    margin-top: 20px;
                    flex: 0 1 100%;
                }
            }
            &-title {
                max-width: 534px;
            }
            &-tags {
                margin-top: 10px;
                @media (max-width: 900px) {
                    margin-bottom: 30px;
                }
                @media (max-width: 500px) {
                    margin-top: 15px;
                }
            }

            &-ui {
                margin-top: 32px;
                flex: 0 0 auto;
                margin-left: 20px;
                @media (max-width: 900px) {
                    flex: 0 1 100%;
                    margin-left: 0;
                    margin-top: 0;
                }
            }
        }
        &__grid {
            display: grid;
            max-width: 740px;
            grid-template-columns: 1fr 1.3fr;
            gap: 5px;
            margin: 35px 0 25px 177px;
            @media (max-width: 900px) {
                margin: 40px 0 25px;
                grid-template-areas:
                    "look like"
                    "age  age"
                    "city city"
                    "he he"
                    "place place";
            }
            @media (max-width: 700px) {
                grid-template-columns: 1fr 1fr;
                grid-template-areas:
                    "look look"
                    "like like"
                    "age  age"
                    "city city"
                    "he he"
                    "place place";
            }
        }
        &__text {
            color: #8c8c8d;
            font-size: 16px;
            line-height: 25px;
            flex: 0 0 404px;
            display: flex;
            @media (max-width: 500px) {
                flex-wrap: wrap;
            }
            &--look {
                @media (max-width: 700px) {
                    grid-area: look;
                }
                @media (max-width: 500px) {
                    margin-bottom: 0;
                }
            }
            &--like {
                @media (max-width: 700px) {
                    // justify-content: flex-end;
                    grid-area: like;
                }
            }
            &--age {
                @media (max-width: 700px) {
                    grid-area: age;
                }
            }
            &--he {
                @media (max-width: 700px) {
                    grid-area: he;
                }
            }
            &--city {
                @media (max-width: 700px) {
                    grid-area: city;
                }
            }
            &--place {
                @media (max-width: 700px) {
                    grid-area: place;
                }
            }
            &--big {
                margin-bottom: 20px;
                .user__text-bold {
                    @media (max-width: 500px) {
                        flex: 0 0 auto;
                        margin-right: 5px;
                    }
                }
            }
            &-bold {
                color: #fff;
                font-weight: 500;
                margin: 0 5px;
                @media (max-width: 500px) {
                    display: block;
                    flex: 0 0 100%;
                    margin: 0;
                }
            }
        }
        &__about {
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 10px;
            margin-left: 177px;
            @media (max-width: 900px) {
                margin-left: 0;
            }
            &-text {
                max-width: 740px;
                height: 90px;
                margin-left: 177px;
                @media (max-width: 900px) {
                    margin-left: 0;
                }
            }
            &-button {
                margin-left: 177px;
                @media (max-width: 900px) {
                    margin-left: 0;
                }
            }
        }
    }
    .board {
        margin-top: 80px;
        @media (max-width: 1279px) {
            margin-top: 70px;
        }
        @media (max-width: 900px) {
            margin-top: 60px;
        }
        @media (max-width: 500px) {
            margin-top: 40px;
        }
        &__container {
            @media (max-width: 900px) {
                padding: 0 0 0 40px;
            }
            @media (max-width: 500px) {
                padding: 0 0 0 20px;
            }
        }
        &__team,
        &__information {
            display: none;
        }
        &__information {
            padding-right: 40px;
            @media (max-width: 500px) {
                padding-right: 20px;
            }
        }
        &__user {
            flex: 0 0 142px;
            margin-right: 20px;
            text-align: center;
            @media (max-width: 900px) {
                margin-right: 15px;
            }
            &-avatar {
                height: 120px;
                max-width: 120px;
                border-radius: 50%;
                @media (max-width: 900px) {
                    height: 80px;
                    max-width: 80px;
                }
            }
            &-name {
                margin-top: 15px;
                font-size: 16px;
                font-weight: 600;
                line-height: 25px;
            }
        }
        &__header {
            display: flex;
            overflow: auto;
            &-title {
                flex: 0 0 auto;
                color: #858585;
                font-size: 22px;
                font-weight: 600;
                margin-right: 30px;
                @media (max-width: 900px) {
                    font-size: 18px;
                }
                &:last-child {
                    padding-right: 20px;
                }
                &:hover {
                    opacity: 0.8;
                    .board__header-title-amount {
                        opacity: 1;
                    }
                }
                &--hidden {
                    display: none;
                    @media (max-width: 700px) {
                        display: block;
                    }
                }
                &--active {
                    color: #fff;
                    .board__header-title-amount {
                        color: #858585;
                    }
                }
                &-amount {
                    font-size: 18px;
                    font-weight: 400;
                    transition: all 0s ease 0s;
                }
            }
        }
        &__title {
            margin-top: 50px;
            font-size: 22px;
            font-weight: 600;
            line-height: 30px;
            @media (max-width: 1279px) {
                margin-top: 40px;
            }
            @media (max-width: 900px) {
                margin-top: 30px;
                font-size: 18px;
            }
        }
        &__list {
            display: flex;
            // align-items: center;
            overflow: auto;
            margin-top: 30px;
            &--team {
                margin-top: 40px;

                @media (max-width: 900px) {
                    margin-top: 30px;
                }
            }
            @media (max-width: 900px) {
                margin-top: 20px;
            }
        }
        &__book {
            margin-right: 20px;
            @media (max-width: 500px) {
                margin-right: 10px;
            }
        }
        &__box {
            flex: 0 0 305px;
            height: 200px;
            margin-right: 20px;
            content: "";
            display: table;
            clear: both;

            @media (max-width: 1400px) {
                flex: 0 0 275px;
            }
            @media (max-width: 900px) {
                flex: 0 0 216px;
                height: 140px;
            }
            @media (max-width: 500px) {
                flex: 0 0 260px;
                height: 160px;
                margin-right: 10px;
            }
            &:hover {
                .board__box-img {
                    transform: scale(1.01);
                }
            }
            &--hidden {
                @media (max-width: 1279px) {
                    display: none;
                }
            }
            &--blur {
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: rgba(12, 12, 13, 0.6);
                    backdrop-filter: blur(15px);
                    border-radius: 10px;
                }
                &:hover {
                    .board__box-img {
                        transform: none;
                    }
                    .board__box-amount {
                        opacity: 0.8;
                    }
                }
            }
            &-img {
                transition: 0.3s;
                height: 200px;
                border-radius: 10px;
                @media (max-width: 900px) {
                    height: 140px;
                }
                @media (max-width: 500px) {
                    height: 160px;
                }
            }
            &-title {
                margin: 15px 0 5px;
                font-size: 22px;
                font-weight: 600;
                line-height: 30px;
                @media (max-width: 900px) {
                    font-size: 18px;
                    line-height: 22px;
                }
            }
            &-tag {
                color: #b6b6b6;
                line-height: 20px;
            }
            &-amount {
                position: absolute;
                top: 50%;
                transform: translate(0, -50%);
                font-weight: 600;
                font-size: 20px;
                width: 100%;
                text-align: center;
                transition: 0.3s;
                @media (max-width: 900px) {
                    font-size: 16px;
                }
            }
        }
        &__informatio-card {
            margin-right: 20px;
            @media (max-width: 500px) {
                margin-right: 10px;
            }
        }
    }
}
