.poster {
    // overflow: hidden;
    .filter {
        margin-top: 60px;
        @media (max-width: 900px) {
            margin-top: 30px;
        }
        @media (max-width: 500px) {
            margin-top: 40px;
        }
        &__container {
            // margin: 0 0 0 calc(100vw - 1400px - (100vw - 1400px) / 2);
            // max-width: 100%;
            // overflow: hidden;
            // width: auto;
            @media (max-width: 1279px) {
                padding-right: 0;
            }
        }
        &__date {
            display: flex;
            margin-bottom: 50px;
            overflow: auto;
            // max-width: 100px;
            flex-wrap: wrap;
            // overflow: auto;
            // width: calc(1400px + ((100vw - 1400px) / 2) - 60px);
            // margin-right: 60px;
            @media (max-width: 1279px) {
                flex-wrap: nowrap;
            }
            @media (max-width: 900px) {
                margin-bottom: 20px;
            }
            &-element {
                margin-right: 30px;
                opacity: 0.5;
                font-size: 40px;
                font-weight: 700;
                white-space: nowrap;
                transition: 0.3s;
                cursor: pointer;
                display: block;
                @media (max-width: 900px) {
                    font-size: 28px;
                }
                @media (max-width: 500px) {
                    font-size: 25px;
                    margin-right: 20px;
                }
                &--active {
                    opacity: 1;
                    &:hover {
                        opacity: 1 !important;
                    }
                }
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
    .baner {
        margin-top: 50px;
        @media (max-width: 900px) {
            margin-top: 30px;
        }
        &__img {
            border-radius: 10px;
            height: auto;
        }
    }
}
